<div *ngIf="dataRequestError; else next">
    <span style="background-color: #ffcccc">Data Retrieval Error</span>
</div>

<ng-template #next>
    <div *ngIf="ready; else loading" class="row">
        <div class="col-md-12">
            <!-- search input -->
            <input class="form-control" type="text" [ngModel]="filter" (ngModelChange)="onFilterChange($event)" placeholder="Search"/>

            <div *ngIf="GroupedDataSideNavConfig.selectionContext">

                <label>{{GroupedDataSideNavConfig.selectionContext.name}}</label>
                <select class="form-control" name="selectedContext" (change)="onSelectionContextChanged()" [(ngModel)]="selectedContext">
                    <option *ngFor="let s of GroupedDataSideNavConfig.selectionContext.selection" [ngValue]="s">
                            {{s}}
                    </option>
                </select>

            </div>
        </div>
    </div>
    <div *ngIf="ready" class="row">
        <div class="col-md-12 tree" *ngIf="displayedGroupedKeys.length > 0">
            <app-recursive-panel [additionalContext]="selectionContextParam" [GroupedKeyList]="displayedGroupedKeys" [levelsBelow]="levelsBelow"
                [toggleState]="toggleState" [topLevel]="true"></app-recursive-panel>
        </div>
    </div>
</ng-template>

<ng-template #loading>
    <fa [name]="'rocket'" [spin]=true></fa>
    Loading data...
</ng-template>