<tabset>
  <tab heading="Properties">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label tightPad">Name</label>
      <div class="col-sm-10 tightPad">
        <input class="form-control" type="text" [(ngModel)]="dataPolicy.name" id="name">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label tightPad">Support Message</label>
      <div class="col-sm-10 tightPad">
        <input class="form-control" type="text" [(ngModel)]="dataPolicy.supportMessage" id="supportMessage">
      </div>
    </div>
    <div class="form-group row">
      <label for="componentType" class="col-sm-2 col-form-label tightPad">Support Group</label>
      <div class="col-sm-10 tightPad">
        <input class="form-control" type="text" [(ngModel)]="dataPolicy.supportGroup" id="supportGroup">
      </div>
    </div>
    <div class="form-group row">
      <label for="supportMessage" class="col-sm-2 col-form-label tightPad">Support Name List</label>
      <div class="col-sm-10 tightPad">
        <input class="form-control" type="text" [(ngModel)]="dataPolicy.supportNameList" id="supportNameList">
      </div>
    </div>
    <div class="form-group row">
      <label for="supportMessage" class="col-sm-2 col-form-label tightPad">Support Data URI</label>
      <div class="col-sm-10 tightPad">
        <input class="form-control" type="text" [(ngModel)]="dataPolicy.sourceURL" id="sourceURL">
      </div>
    </div>
        <div class="form-group row">
      <label for="supportMessage" class="col-sm-2 col-form-label tightPad">Design Id Column</label>
      <div class="col-sm-10 tightPad">
        <input class="form-control" type="text" [(ngModel)]="dataPolicy.DesignIdColumn" id="DesignIdColumn">
      </div>
    </div>
  </tab>

  <tooltip-content #dpfixedParamsTooltip [animation]="true" placement="top">
    <b>Fixed Parameters:</b> These parameter name/values are ALWAYS sent with the data request
  </tooltip-content>


  <tab heading="Fixed">
    <span class="label label-default" [tooltip]="dpfixedParamsTooltip">Hover for info</span>
    <app-name-value-editor [nvArray]="dataPolicy.fixedParameters" [nameDisplay]="'Parameter Name'" [valueDisplay]="'Value'"></app-name-value-editor>

  </tab>

  <tooltip-content #dpcolumnRenameMap [animation]="true" placement="top">
    <b>Column Rename:</b> Configuration for mapping the source data column names to the names seen by consumers of the data
    policy
  </tooltip-content>

  <tab heading="Columns">
    <span class="label label-default" [tooltip]="dpcolumnRenameMap">Hover for info</span>
    <app-name-value-editor [nvArray]="dataPolicy.columnRenameMap" [nameDisplay]="'Original Column Name'" [valueDisplay]="'New ColumnName'"></app-name-value-editor>
  </tab>

  <tab heading="Caching">
    <app-cache-rule-editor [cacheRules]="dataPolicy.CacheRules"></app-cache-rule-editor>
  </tab>

    <tab heading="Raw">
    <pre>{{dataPolicy | json}}</pre>
  </tab>
</tabset>