<div class="container-fluid">
  <div *ngIf="displayStateService.appState.sideNavWidgetConfig && availableWidgetNames" class="row">
    <div class="col-md-10">
      <select class="form-control" name="selectedSideNav" (change)="SelectSideNav()" [(ngModel)]="selectedSideNav">
        <option *ngFor="let nv of displayStateService.appState.sideNavWidgetConfig.widgetNameList" [ngValue]="nv">{{nv.name}}</option>
      </select>    
    </div>
    <div class="col-md-2">
      <button type="button" class="list-group-item list-group-item-success" (click)="Add()">New</button>
    </div>
  </div>

  <div *ngIf="selectedSideNav" class="row">
    <div class="col-sm-12 tightPad">
        <label>Widget name</label>
      <select class="form-control" [(ngModel)]="selectedSideNav.name">
            <option *ngFor="let name of AvailableWidgetsForSelect(selectedSideNav.name)" [ngValue]="name">{{name}}</option>
        </select>

    </div>
    <div class="col-sm-12 tightPad">
      <label>Name displayed in side navigation</label>
      <input type="text" class="form-control" [(ngModel)]="selectedSideNav.value" name="value">
    </div>
    <div class="col-sm-1 tightPad">
      <button type="button" class="btn btn-info btn-sm">
              <span (click)="Delete(selectedSideNav.name)" class="badge badge-danger">Delete</span>
            </button>
    </div>
  </div>
</div>
