<div>auto SWR works</div>
<tabset #staticTabs>
	<tab heading="By Lot">
		<div class="container-fluid">
			<div class="selection-component-top row">
				<div class="col-md-12">
					<form novalidate [formGroup]="lotFormGroup">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="data-type">Data Type:
										<select name="data-type" id="data-type" class="form-control" formControlName="data_type">
											<option *ngFor="let data_type of data_types" [value]="data_type">{{data_type}}</option>
										</select>
								</label>
								</div>
							</div>
							<div class="col-md-3">
								<label for="time">Time:
									<select name="time" id="time" class="form-control" formControlName="time">
										<option [value]="24">24 Hrs</option>
										<option [value]="48">48 Hrs</option>
									</select>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="design-id">Design ID:
										<select name="design-id" id="design-id" class="form-control" formControlName="design_id">
											<option value=""></option>
											<option *ngFor="let design_id of design_ids" [value]="design_id">{{design_id}}</option>
										</select>
									</label>
								</div>
							</div>
							<div class="col-md-3">
								<label for="start-date">Start:
							<input class="form-control" type="date" id="start-date" formControlName="start">
							</label>
							</div>
							<div class="col-md-3">
								<label for="end-date">End:
							<input class="form-control" type="date" id="end-date" formControlName="end">
							</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="lot-name">Lot:
								<select name="lot-name" id="lot-name" class="form-control" formControlName="lot">
								<option value=""></option>
								<option *ngFor="let lot_name of lot_names" [value]="lot_name">{{lot_name}}</option>
								</select>
							</label>
								</div>
							</div>
							<div class="col-md-3">
								<label for="pid">PID:
							<select name="pid" id="pid" class="form-control" formControlName="pid">
								<option value=""></option>
								<option *ngFor="let design_id of design_ids" [value]="design_id">{{design_id}}</option>                      
							</select>
							</label>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="selection-component-bottom row">
				<!-- 
				TODO - make this whole section work with flexbox
				It seems that the ngx-datatable screws with its container
				element when using flexbox
				-->

				<div class="lot-table">
					<ngx-datatable class="material" [rowHeight]="'auto'" [headerHeight]="50" [rows]="lots" [columnMode]="'flex'" [selectionType]="'single'"
					 (select)="checkLotRow(lotFormGroup, $event)">
						<ngx-datatable-column [flexGrow]="1">
							<ng-template let-column="column" ngx-datatable-header-template>
								Actions
							</ng-template>
							<ng-template let-row="row" ngx-datatable-cell-template>
								<div>
									<button class="btn btn-sm" (click)="selectAllLotWafers(row)">Add</button>
								</div>
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Lot" [flexGrow]="1"></ngx-datatable-column>
						<ngx-datatable-column prop="design_id" name="Design ID" [flexGrow]="1"></ngx-datatable-column>
						<ngx-datatable-column prop="pid" name="PID" [flexGrow]="1"></ngx-datatable-column>
						<ngx-datatable-column name="Rev" [flexGrow]="1"></ngx-datatable-column>
						<ngx-datatable-column prop="number" name="Num" [flexGrow]="1"></ngx-datatable-column>
					</ngx-datatable>
				</div>
				<div *ngIf="checked_lot !== undefined" class="lot-detail-table">
					<div class="row swr-row">
						<div class="col-md-12">
							<div class="swr-title-row">
								<div class="swr-title">
									<h3>
										SWRs
									</h3>
								</div>
								<div class="x-button" (click)="closeExtra()">
									X
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<ngx-datatable class="material" [rowHeight]="'auto'" [headerHeight]="50" [rows]="swrs" [columnMode]="'flex'" [selected]="getCheckedSWRAsList()"
									 [selectionType]="'single'" (select)="checkSWRRow(lotFormGroup, checked_lot, $event)">
										<ngx-datatable-column [flexGrow]="1">
											<ng-template let-column="column" ngx-datatable-header-template>
												Actions
											</ng-template>
											<ng-template let-row="row" ngx-datatable-cell-template>
												<div>
													<button class="btn btn-sm" (click)="selectSWR(row)">Add</button>
												</div>
											</ng-template>
										</ngx-datatable-column>
										<ngx-datatable-column prop="number" name="Number" [flexGrow]="1"></ngx-datatable-column>
										<ngx-datatable-column prop="title" name="Title" [flexGrow]="1"></ngx-datatable-column>
										<ngx-datatable-column prop="group" name="Groups" [flexGrow]="1"></ngx-datatable-column>
										<ngx-datatable-column [flexGrow]="1">
											<ng-template let-column="column" ngx-datatable-header-template>
												Go To
											</ng-template>
											<ng-template let-row="row" ngx-datatable-cell-template>
												<div>
													<button class="btn btn-sm" (click)="goToSWR(row)">Go</button>
												</div>
											</ng-template>
										</ngx-datatable-column>
									</ngx-datatable>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-secondary" (click)="selectWafers(wafers)">Add All Wafers</button>
									<button class="btn btn-secondary" (click)="findParamDataForLot(checked_lot)">Find Param Data For Lot</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">
									<label for="group">Group:
							<select name="group" id="group" class="form-control" (change)="checkGroup($event)">
							<option value="">All</option>
							<option *ngFor="let group of groups | setValues" [value]="group">{{group}}</option>                      
							</select>
						</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-secondary" (click)="selectWafers(checked_wafers)">Add</button>
									<button class="btn btn-secondary" (click)="removeWafers(checked_wafers)">Remove</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<!--
							ALC - Not sure this type of selection component works
							very well here. Should there be an indicator other
							than the checkbox when it is already 'selected'?
							Maybe it would be better to have a button on each row
							to remove/add depending on its selected status with
							'Add All' and 'Remove All' bulk actions above
							-->
									<ngx-datatable class="material" [rowHeight]="'auto'" [headerHeight]="50" [rows]="wafers | filterListBySet:'group':checked_groups"
									 [columnMode]="'flex'" [selected]="checked_wafers" [selectionType]="'checkbox'" (select)="onCheckWafers($event)">
										<ngx-datatable-column [flexGrow]="1" [sortable]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
										 [checkboxable]="true">
										</ngx-datatable-column>
										<ngx-datatable-column prop="name" name="Wafer" [flexGrow]="1"></ngx-datatable-column>
										<ngx-datatable-column prop="time" name="Time" [flexGrow]="2"></ngx-datatable-column>
										<ngx-datatable-column prop="reprobe" name="Reprobe" [flexGrow]="1"></ngx-datatable-column>
										<ngx-datatable-column prop="group" name="Group" [flexGrow]="1"></ngx-datatable-column>
									</ngx-datatable>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tab>
	<tab heading="By SWR">
		By SWR
		<p>{{ displayDataSet | json }}</p>
	</tab>
	<tab heading="Currently Selected">
		<div class="btn-group" dropdown>
			<button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
				Button dropdown <span class="caret"></span>
			</button>
			<ul *dropdownMenu class="dropdown-menu" role="menu">
				<li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
				<li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
				<li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
				<li class="divider dropdown-divider"></li>
				<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
				</li>
			</ul>
		</div>
		<alert type="success">hello</alert>
	</tab>
</tabset>